@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
}


.login_container{
    background:url(sample-background2.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

.login_container .background{
    background:url(sample-background.jpg);
    height: 50vh;
    background-position: right;
    background-size: 100% 100%;
}


.login_navbar .web_logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px; 
}

.login_navbar 